@font-face {
    font-family: fibre;
    src: url(../font/fibre-font.woff);
}
*,body,html{
    box-sizing: border-box
}

.common-container {
    width: 100%;
    position: relative;
}

.common-vertical {
    display: table-cell;
    vertical-align: middle;
}

.common-title {
    color: #fff;
    font: 28px "fibre", Verdana, sans-serif;
}

.blur {
    filter: blur(10px)
}

.common-article {
    display: block;
    width: 80%;
    max-width: 720px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}

.common-article:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

.common-article-header {}

.common-article-title {}

.common-article-title:hover {}

.common-article-excerpt>p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.7em;
}

.common-article-footer {
    display: block;
    margin: 1.75em 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
}

.common-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
}

#blog-logo {
    background-color: rgba(0, 0, 0, 0.7);
    color: #999;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-family: fibre;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 20;
    left: 40px;
    top: 40px;
    border: 1px;
    border-radius: 20px;
    transition: color, background-color .5s;
    cursor: default;
}

#blog-logo:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}

.article-header {}

.menu-button {
    position: absolute;
    float: right;
    right: 40px;
    top: 40px;
    color: #fff;
    background-color: rgba(1, 1, 1, .1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.menu-button-open {
    right: 300px;
    background-color: rgba(87, 57, 50, .9) !important;
    border-radius: 4px 0 0 4px !important;
    border-right: none !important;
    padding-right: 0 !important;
    position: fixed !important;
    z-index: 1000
}

.menu-button:hover {
    background-color: rgba(1, 1, 1, .3)
}

.common-menu-container {
    width: 300px;
    position: fixed;
    right: -300px;
    top: 0;
    float: right;
    opacity: .9;
    color: #fff;
    z-index: 1000;
}

.common-menu-container .el-menu {
    height: 100vh
}

.common-article-container {
    position: relative;
}

.common-article-container * {
    max-width: 100%
}

.common-footer {
    margin: 8rem 0 0 0;
    padding: 1rem 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
    width: 100%;
}

.common-footer a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}

.clearfix {
    zoom: 1;
}

.copyright {
    display: block;
    width: 45%;
    float: left;
}

.poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

@media screen and (max-width: 740px) {}